h1{
    color: #e9ebee;
}

body {
    margin: 0;
    font-family: Fontin, Arial, Verdana;
    font-size: 18px;
    background-color: #e9ebee;
}

input {
    font-family: Fontin, Arial, Verdana;
    width: 100%;
    font-size: 18px;
    padding: 2px;
}

button {
    font-family: Fontin, Arial, Verdana;
    font-size: 18px;
}

input[type=radio] {
    width: auto;
}

textarea {
    width: 100%;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

.required {
    color: red;
}

.container {
    margin: 0 auto;
    width: 1068px;
}


/*============== NAVBAR  ============*/

.usernav {
    background-color: #2b5261;
    overflow: auto;
}

ul {
    float: left; /*Posisiona el contenido del nav a la izquierda*/
    margin: 0;
    padding: 0;
}

.ul-right {
    float: right; /*Posisiona el contenido del nav a la izquierda*/
    margin: 0;
    padding: 0;
}

.usernav ul li {
    display: inline;
}

.usernav ul li a {
    display: inline-block;
    color: white;
    padding: 2rem 1rem;
}

.usernav ul li a:hover {
    
    color: #ff4242;
}



/*============== POSTS ============*/


.post,
.createcontainer {
    background-color: white;
    box-shadow: 0 0 5px #2b5261;
    margin: auto;
    width: 650px;
    padding: 10px 16px;
    overflow: auto;
}

.checkinfo {
    background-color: gray;
    box-shadow: 0 0 5px #2b5261;
    margin: auto;
    padding: 10px 10px;
    overflow: auto;
    transform: translate(217%, -10%);
    margin: 1%;
}

.createpostbuttons {
    width: 50%;
    margin: auto;
    overflow: auto;
}

.createpostbuttons img {
    display: inline-block;
    width: 12%;
    height: auto;
    margin-bottom: 0;
}

.createpostbuttons label {
    cursor: pointer;
}

.createpostbuttons input[type="file"] {
    display: none;
}

.createpostbuttons input[type=submit] {
    width: 86%;
    float: right;
    background-color: #2b5261;
}

.createpostbuttons input[type=submit]:hover {
    background-color: #2b5261;
}

.post .public {
    float: right;
    text-align: center;
    width: auto;
}


/*============== HEADINGS AND LINKS ============*/

h1 {
    font-family: Fontin SmallCaps;
    color: #2b5261;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: Fontin SmallCaps;
    color: gray;
    font-weight: normal;
    font-size: 120%;
    margin-bottom: 0;
}

h3,
a.profilelink {
    font-family: Fontin SmallCaps;
    color: gray;
    font-weight: normal;
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    margin-left: 5px;
    vertical-align: 12px;
    text-decoration: none;
}

a.profilelink:hover {
    text-decoration: underline;
}


/*======== Horizontal Line after H2 =========*/

hr {
    margin-bottom: 30px;
    margin-top: 0px;
    border-color: gray;
}


/*============== TAB ============*/

div.tab {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.tab button {
    background-color: #2b5261;
    border: none;
    outline: none;
    color: white;
    float: left;
    padding: 10px;
    cursor: pointer;
    width: 50%;
}

div.tab button:hover {
    background-color: #314e85;
}


div.tab button.active {
    background-color: #2b5261;
}

#signup {
    display: none;
}


/*============== SUBMIT ============*/

input[type=submit] {
    color: white;
    cursor: pointer;
    background-color: #2b5261;
    border: none;
    padding: 8px;
}

.container input[type=submit] {
    background-color: #417386;
}

.container input[type=submit]:hover {
    background-color: #2b5261;
}

#deleteInputs{
    background-color: #e73333;
}

/*=============  BUTTONS  ========*/

input[type=checkbox] {
    width: fit-content;
}


/*============= SUB CONTAINERS ========*/

.userquery {
    background-color: white;
    box-shadow: 0 0 5px #2b5261;
    margin: auto;
    width: 320px;
    padding: 20px 20px 0px 20px;
    overflow: auto;
    text-align: center;
}

.userquery a {
    text-decoration: none;
}

.userquery a:hover {
    text-decoration: underline;
}


/*============= DISABLED BUTTONS ========*/

input:disabled {
    cursor: auto;
}

#special:hover {
    background-color: #2b5261;
}


#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 600px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}
 
#loginform {
  padding-top: 18px;
  text-align: center;
}
 
#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}
 
#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 300px;
  width: 530px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}
 
#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #2b5261;
  margin: 2rem;
  width: 33rem;
  height: 40px;
}
 
#name {
  border-radius: 4px;
  border: 1px solid #2b5261;
  padding: 2px 8px;
  
}
 
#submitmsg,
#enter{
  background: #2b5261;
  border: 2px solid #2240c2;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;

}
 
.error {
  color: #ff0000;
}
 
#menu {
  padding: 15px 25px;
  display: flex;
}
 
#menu p.welcome {
  flex: 1;
}
 
a#exit {
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}
 
.msgln {
  margin: 0 0 5px 0;
}
 
.msgln span.left-info {
  color: #2b5261;
}
 
.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}
 
.msgln b.user-name, .msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}
 
.msgln b.user-name-left {
  background: #2b5261;
}

footer {

    bottom: 0;
    background-color: #2b5261;
    color: white;
    margin-left: 5rem;
    margin-right: 3rem;
    font-size: 1rem;
    padding: 1rem;
  }

  .map{

    border: 3px solid #2b5261;
  }

  button{

    transform: translate(370%, -10%);
    margin: 1%;
}

h2{
    text-align: center;
}

/*=========Containers=========*/

  .ContenedorGrid {
    /*height: 40rem;*/
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;

}

.grid-item {
    background-color: rgb(247, 252, 252);
    border: 2px solid #2b5261;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}

/*======Comments Container======*/

#container{
	background-color:#FFF;
	width:100%;
	padding:10px;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
}
.page_content{
	margin:15px;
	padding:5px;
	border-bottom:1px solid #CCC;
}
.comment_input{
	background:#CCC;
	margin:10px;
	padding:10px;
	border:1px solid #CCC;
}

.button{
	padding:5px 15px 5px 15px;
    background:#417386;
    color: #FFF;
	border-radius: 3px;
}

.button:hover{
	background:#366679;
	color: white;
}

a{
	text-decoration:none;
}

.comment_logs{
	margin:5px;
	padding:5px;
	border:1px solid #CCC;
}

.comments_content{
	margin:10px;
	padding:5px;
	border:1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.nickname_comment{
	font-size:16px;
	font-family:Verdana, Geneva, sans-serif;
	color:#2b5261;
	padding-bottom:0px;
	margin-bottom:0px;
}

.date_comment{
	font-size:13px;
	color:#3f3f3f;
}
.text_comment{
	font-size:24px;
	color:#3f3f3f;
	padding-bottom:5px;
	margin-bottom:5px
}
.delete_cross{
	font-size:14px;
	color:red;
	text-decoration:none;
	float:right;
}